################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopLens/WindowsFormsApp1/obj/Debug
/ShopLens/.vs/ShopLens
