################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopLens/.vs/ShopLens/v15
/ShopLens/ImageRecognition/obj
/ShopLens/ImageRecognition/obj
/ShopLens/VoiceRecognition/obj
/ShopLens/VoiceRecognition/bin
/ShopLens/VoicedText/obj
/ShopLens/VoicedText/bin
