<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="filePath" value="\\ShopLensForms\SavedData\items.json" />
      <add key="helloCmd" value="Hello" />
      <add key="whatIsThisCmd" value="What is this" />
      <add key="startCmd" value="Start" />
      <add key="exitCmd" value="Exit" />
      <add key="myShoppingListCmd" value="My shopping list" />
      <add key="myShoppingCartCmd" value="My shopping cart" />
      <add key="addToShoppingListCmd" value="Add to Shopping List" />
      <add key="closeShoppingListCmd" value="Close shopping list" />
      <add key="closeShoppingCartCmd" value="Close shopping cart" />
    </appSettings>
</configuration>