<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  
  <!-- Custom Vision -->
  <add key="cvProjectId" value="11e80156-6630-4cd7-a9e6-3441f9da09e2" />
  <add key="cvPredictionKey" value="13185045e5b84af5bd045d029447d951" />
  <add key="cvRequestUri" 
       value="https://southcentralus.api.cognitive.microsoft.com/customvision/v2.0/Prediction/11e80156-6630-4cd7-a9e6-3441f9da09e2/image" />
  <add key="webClassifierImgSize" value ="512" />
  
  <!-- Input/Output -->
  <add key="fileProviderName" value=".shoplens.fileprovider" />
  
  <!-- Camera activity -->
  <add key="CmdWhatIsThis" value="what is this" />
  <add key="CmdPickPhoto" value="I have a photo" />

  <!-- Text To Speech -->
  <add key="AnswerUtteranceId" value="NEED_USER_ANSWER" />
  <add key="VoicerPauseTime" value="500" />
  <add key="VoicerCheckDelay" value="200" />
  <add key="InitialTutorialMsg" 
       value=
       "Welcome to ShopLens. I am your virtual shopping assistant Jenna, but you can call me Jen.
       I will be helping you to use ShopLens. It is very simple.
       You can either talk to me and I will do all the hard work for you or you can do it by yourself.
       Let us practice talking for now, later on you will be able to turn off virtual assistant interaction.
       I will now ask you a question, questions are fun!
       After the question you will hear a beep sound. That's your cue to give me an answer.
       When you answer, you will hear another beep sound, that indicates that I've heard your answer and that I'm about to act accordingly.
       Okay, are you enjoying ShopLens so far, answer yes or no?" />
  <add key="FollowUpTutorialMsg" value=
       "Good. I am enjoying this experience too. 
       Right now you are in the main menu of ShopLens.
       I will now explain what you can do here, in the main menu.
       You can say, open shopping cart, to open up your shopping cart. That's where all the items ShopLens has
       recognised for you during one shopping session are listed. 
       If you say, open shopping list, you will be able
       to access custom shopping lists you have made yourself. Do not worry, I will help you to modify your shopping lists.
       When you say, what is this, you will be able to take a photo of a product and I will identify it for you.
       That is, I will tell you the product's name, price and ask you whether you want to add it to your shopping cart or not.
       If you forget how to interact with me you can say, help me, and I will remind you.
       So, what would you have me do?" />
  <add key="WelcomeBackMsg" value=
       "Welcome back to ShopLens.
       I missed you a lot!
       So, what would you have me do?"/>
  <add key="AskToRepeat" value="I didn't quite understand you." />
  
  <!-- Voice Recognition -->
  <add key="IsVoiceRecognitionEnabled" value="True"/>
  
  <!-- Main activity -->
  <add key="CmdHelp" value="help me" />
  <add key="CmdOpenCamera" value="open camera" />
  <add key="CmdOpenCart" value="open shopping cart" />
  <add key="CmdOpenList" value="open shopping list" />
  <add key="CmdTutorialLikeShopLens" value="yes" />
  <add key="MainHelpMsg" value=
       "Here, in the main menu you can:
       Say, open shopping cart, to open up your shopping cart.
       Say, open shopping list, to open up your shopping list.
       Say, what is this, to take a photo of an item.
       So, what would you have me do?" />
  
  <!-- Shopping Cart -->
  <add key="CmdVoiceCart" value="voice cart" />
  <add key="CmdAddCartList" value="add" />
  <add key="ShopCartPrefs" value="USER_SHOP_CART" />

  <!-- Shopping List -->
  <add key="CmdVoiceList" value="voice list" />
  <add key="ShopListPrefs" value="USER_SHOP_LIST" />
  
  <!-- Intent Extra Keys -->
  <add key="TalkBackKey" value="NO_TALKBACK"/>
        
</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage.Abstractions" publicKeyToken="286fe515a2c35b64" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
